@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.banner {
    width: 100vw;
    height: 26.25rem;
    background: #F5F7FA;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}


.banner #textobannersection01 {
    padding-left: 200px;
    display: flex;
    flex-direction: column;

    width: 50vw;
    gap: 0.11rem;
}

.banner #textobannersection01 #h2textobannersection01 {
    color: #4D4D4D;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3.05rem;
}

.banner #textobannersection01 #paragrafotextobannersection01 {
    color: #717171;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
}

.banner #textobannersection01 button {
    width: 7rem;
    height: 2.5rem;

    border: 0;
    border-radius: 0.168rem;

    color: #FFFFFF;
    background: #4CAF4F;
}


.banner #janelaimgbannersection01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;
    height: 100%;
}

.banner #imgbannersection01 {
    width: 21.875rem;
    Height: 23.165rem;
}


/* ========================================================== */
/* ===================      Section Clients    ============== */

.clients {
    padding: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.clients .textoclients {
    gap: 0.625rem;
}

.clients #h3clients {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;

    text-align: center;

    color: #4D4D4D;

    padding: 0.625rem;
}

.clients #paragradoclients {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    text-align: center;

    color: #717171;
}

.clients #logoclientes {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1.250rem;
}


/* ========================================================== */
/* =================      Section Community    ============== */
.community {
    padding: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

.community #div01community {
    margin-bottom: 0.9rem;
}

.community #h3topocommunity {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center;
    color: #4D4D4D;
    padding: 0.625rem;
}

.community #paragrafotopocommunity {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #717171;
}

.community #div02community {
    padding: 0.625rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0 6.25rem;

    gap: 6.25rem;
}

.community #div02community .definirotamanhodadivpaprajustarmelhor {
    width: 21.875rem;
    height: auto;
}

.community #div02community img {
    width: 3.125rem;
    height: 2.5rem;
}


.community #div02community .h4geralcommunity {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.56rem;

    text-align: center;

    padding: 0.625rem;

    color: #4D4D4D;
}

.community #div02community .paragrafogeralcommunuty {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;

    text-align: center;


    color: #717171;
}


/* ========================================================== */
/* ================      Section PixelGrade    ============== */

.pixelgrade {
    display: flex;

    max-width: 100vw;
    max-height: 300px;

    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 30px;
}

.pixelgrade #janela01imgpixelgrade {
    width: 45vw;
}

.pixelgrade #janela01imgpixelgrade #janela02imgpixelgrade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 20px;

}



.pixelgrade #textpixelgrade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    width: 55vw;
}

.pixelgrade .h3paragrafobuttontextpixelgrade {
    padding-right: 12rem;
}

.pixelgrade #h3textpixelgrade {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;

    color: #4D4D4D;
}

.pixelgrade #paragrafotextpixelgrade {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;

    color: #717171;
}

.pixelgrade #buttontextpixelgrade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 22px;
    gap: 7px;

    width: 12vw;
    height: 6vh;

    color: #FFFFFF;
    background: #4CAF4F;

    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
}

/* ============================================================ */
/* ================      Section Helpinglocal    ============== */

.helpinglocal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 300px;
    gap: 20.88px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    background: #F5F7FA;
}

.helpinglocal #texthelpinglocal{
    width: 40vw;
}

.helpinglocal #texthelpinglocal #h3texthelpinglocal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.65rem;

    color: #4D4D4D;
}

.helpinglocal #texthelpinglocal #paragrafotexthelpinglocal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;

    padding-top: 11.67px;
    color: #18191F;
}