*{
    margin: 0px; padding: 0px;
    text-decoration: none; list-style: none;
    overflow-x: hidden;
}


header{
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85px;
    gap: 13rem;
}



header #navebutton{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #navebutton .itenslistheader{
    list-style: none;

    display: flex;
    justify-content: flex-start;
    gap: 25px;

    
}

header #navebutton .itenslistheader a{
    list-style: none;
    text-decoration: none;

    color: black;
}


header #registernowheader{
    color: white;
    background: #4CAF4F;

    border: 0px;
    border-radius: 2.7px;

    padding: 15px 25px; 

}



